<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading"><gt name="info.notice_id" value="0">编辑<else/>添加</gt></h3>
			<form class="form-horizontal cs_ajax_form" method="post" action="{:U('edit')}">
				<fieldset>
					<div class="form-group">
						<label class="control-label col-sm-2">头像</label>
						<div class="col-sm-2">
							<input class="hy_upload_single" hy_field="avatar" value="上传图片" style="width:200px;height:150px;" src="{$info.avatar}"/>
						</div>
					</div>
					<div class="form-group">
						<label for="real_name" class="control-label col-sm-2">姓名</label>
						<div class="col-sm-8">
							<input name="real_name" class="input-xlarge form-control" type="text" value="{$info.real_name}" >
						</div>
					</div>
					<div class="form-group">
						<label for="user_no" class="control-label col-sm-2">员工编号</label>
						<div class="col-sm-8">
							<input name="user_no" class="input-xlarge form-control" type="text" value="{$info.user_no}" >
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="control-label col-sm-2">手机号</label>
						<div class="col-sm-8">
							<input name="phone" class="input-xlarge form-control" type="text" value="{$info.phone}" >
						</div>
					</div>
					<div class="form-group">
						<label for="user_no" class="control-label col-sm-2">密码</label>
						<div class="col-sm-8">
							<input name="password" class="input-xlarge form-control" type="text" value="">
						</div>
					</div>
					<div class="form-group">
						<label for="up_no" class="control-label col-sm-2">上级编号</label>
						<div class="col-sm-8">
							<input name="up_no" class="input-xlarge form-control" type="text" value="{$info.up_no}" >
						</div>
					</div>
					<div class="form-group">
						<label for="department" class="control-label col-sm-2">部门</label>
						<div class="col-sm-8">
							<input name="department" class="input-xlarge form-control" type="text" value="{$info.department}" >
						</div>
					</div>
					<div class="form-group">
						<label for="shop_no" class="control-label col-sm-2">门店</label>
						<div class="col-sm-4">
							<select class="form-control" name="shop_no">
								<volist name="shopList" id="vo">
								<option value="{$vo.shop_no}" {:m_selected($vo['shop_no'], $info['shop_no'])}>{$vo.shop_name}</option>
								</volist>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="rule_id" class="control-label col-sm-2">岗位</label>
						<div class="col-sm-4">
							<select class="form-control" name="rule_id">
								<volist name="ruleList" id="vo">
								<option value="{$vo.rule_id}" {:m_selected($vo['rule_id'], $info['rule_id'])}>{$vo.rule_name}</option>
								</volist>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<input type="hidden" name="user_id" value="{$info.user_id}">
							<button href="" class="btn btn-default" type="submit">确认并保存</button>
						</div>
					</div>
				</fieldset>
			</form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('.hy_upload_single').hySingleUpload("{:U('site/upload/index')}", '__UPLOAD__');
});
</script>
	