<!DOCTYPE html>
<html lang="en" class="error_page">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>操作成功</title>
		<!-- Bootstrap framework -->
            <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
		<!-- main styles -->
            <link rel="stylesheet" href="__PUBLIC__/css/style.css" />
	</head>
	<body>

		<div class="error_box">
			<h1>操作成功</h1>
			<p>{$message}</p>
			<p class="jump">
			页面自动 <a id="href" href="{$jumpUrl}">跳转</a> 等待时间： 
			<b id="wait"><?php echo($waitSecond); ?></b>
			</p>
			<a href="javascript:history.back()" class="back_link btn btn-default btn-sm">返回</a>
		</div>
		<script type="text/javascript">
		(function(){
		var wait = document.getElementById('wait'),href = document.getElementById('href').href;
		var interval = setInterval(function(){
			var time = --wait.innerHTML;
			if(time <= 0) {
				location.href = href;
				clearInterval(interval);
			};
		}, 1000);
		})();
		</script>
	</body>
</html>