<div class="row">
    <div class="col-sm-12 col-md-12">
    	<h3 class="heading">苹果版本控制
            <div style="clear:both"></div>
		</h3>
		<form class="form-horizontal cs_ajax_form" action="{:U('')}" method="post" enctype="multipart/form-data">
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2">最新版本号</label>
					<div class="col-sm-6 col-md-6">
                    <input type="text" class='input-xlarge form-control' name="ios_latest_version" value="{$ios_latest_version}" required>
                    低于此版本时，提示更新
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">最低版本号</label>
					<div class="col-sm-6 col-md-6">
                    <input type="text" class='input-xlarge form-control' name="ios_minimum_version" value="{$ios_minimum_version}" required>
                    低于此版本时，强制更新
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">新版本更新说明</label>
					<div class="col-sm-6 col-md-6">
					<textarea class='form-control' rows="15" name="ios_update_info" required>{$ios_update_info}</textarea>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">新版下载地址</label>
					<div class="col-sm-6 col-md-6">
                    <input type="text" class='input-xlarge form-control' name="ios_download_url" value="{$ios_download_url}" required>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>