<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading"><gt name="info.shop_id" value="0">修改密码</h3>
		<form class="form-horizontal cs_ajax_form" action="{:U('')}" method="post" enctype="multipart/form-data">
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2">原密码</label>
					<div class="col-sm-4 col-md-4">
                    	<input type="password" class='input-xlarge form-control' name="oldpassword" value="" required>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">新密码</label>
					<div class="col-sm-4 col-md-4">
                    	<input type="password" class='input-xlarge form-control' name="password" value="" required>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">确认密码</label>
					<div class="col-sm-4 col-md-4">
                    	<input type="password" class='input-xlarge form-control' name="repassword" value="" required>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
                    	<input type='hidden' name='admin_id' value="{$info.admin_id}" />
						<button class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>