<!DOCTYPE html>
<html lang="en" class="error_page">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>页面不存在</title>
		<!-- Bootstrap framework -->
            <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
		<!-- main styles -->
            <link rel="stylesheet" href="__PUBLIC__/css/style.css" />
	</head>
	<body>

		<div class="error_box">
			<h1>页面不存在</h1>
			<p>您正在查看的网页不存在。</p>
			<a href="javascript:history.back()" class="back_link btn btn-default btn-sm">返回</a>
		</div>

	</body>
</html>
