<div class="row">
    <div class="col-sm-12 col-md-12">
    	<h3 class="heading">设置配置
            <div style="clear:both"></div>
		</h3>
		<form class="form-horizontal cs_ajax_form" action="{:U('')}" method="post" enctype="multipart/form-data">
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2">定位范围（米）</label>
					<div class="col-sm-6 col-md-6">
                    <input type="text" class='input-xlarge form-control' name="location_range" value="{$location_range}" required>
                    </div>
				</div>

				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-2">
						<button class="btn btn-default" type="submit">确认并保存</button>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
</div>