<div class="row hy_page_content" href="{:U('', $get)}">
	<div class="col-sm-12 col-md-12">
		<h3 class="heading">角色管理
			<a href="{:U('edit')}" hy_w="800" class="btn btn-info btn-sm alink_r cs_ajax_link hy_show_modal">添加角色</a>
			<div style="clear:both"></div>
		</h3>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>角色名称</th>
							<th>角色简介</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="vo">
							<tr class="rowlink">
								<td>{$vo.role_name}</td>
								<td>{$vo.role_describe}</td>
								<td>
									<a href="{:U('edit', array('role_id'=>$vo[role_id]))}" hy_w="800" class="cs_ajax_link hy_show_modal">编辑</a>
									<a href="{:U('del', array('role_id'=>$vo[role_id]))}" class="cs_ajax_link hy_show_modal cs_del_confirm" cs_tip="确定删除？">删除</a>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
				<div>{$pager}</div>
			</div>
		</div>
	</div>
</div>