<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">门店列表
            <a id="rec_add" href="{:U('edit')}" class="btn btn-info btn-sm alink_r">添加</a>
            <div style="clear:both"></div>
		</h3>
		<div class="well clearfix">
			<div class="pull-left">
				<form class="form-horizontal cs_ajax_form form-inline" method="get" action="{:U('')}">
					<input name="shop_name" value="{$get.shop_name}" type="text" class="form-control input-sm" placeholder="请输入门店名称"/>
					<button class="btn btn-default btn-sm" type="submit">搜索</button>
				</form>
			</div>
		</div>
		<div class="row sepH_c">
			<div class="col-sm-12 col-md-12">
				<table class="table table-striped table-bordered">
                    <thead>
                        <tr>
							<th>门店编号</th>
							<th>门店名称</th>
							<th>所在地区</th>
							<th>纬度</th>
							<th>经度</th>
							<th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
						<volist name="list" id="vo">
							<tr class="rowlink top_action">
								<td>{$vo.shop_no}</td>
								<td>{$vo.shop_name}</td>
								<td>{$vo.region_name}</td>
								<td>{$vo.latitude}</td>
								<td>{$vo.longitude}</td>
								<td>
									<a href="{:U('edit',array('shop_id'=>$vo['shop_id']))}">编辑</a>
                                    <a class='cs_ajax_link hy_show_modal cs_del_confirm' href="{:U('del',array('shop_id'=>$vo['shop_id']))}" cs_tip="删除不可恢复，确认删除！">删除</a>
								</td>
							</tr>
						</volist>
                    </tbody>
                </table>
                <div id="pwrap">{$pager}</div>
			</div>
		</div>
	</div>
</div>